{{#each goals as |goal|}}

  <!-- Don't uncomment yet -->

 <!-- Developers, why are we using data-id and not just id? -->
  <h1 data-id="{{goal.id}}"> <small>{{goal.description}}</small></h1>
  <div>
    {{#if goal.description}}
      <ul><li data-id="{{goal.id}}">Category: {{goal.category}}</li>
        <li data-id="{{goal.id}}">Status: {{goal.status}}</li>
        <li>
          <button type="button" class="update" data-toggle="modal" data-target="#updategoalmodal{{goal.id}}">Update</button>
          <button type="button" class="remove">Remove</button>
        </li>
      </ul>
      <div class="modal fade" id="updategoalmodal{{goal.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Update Bucketlist Item</h5>
            </div>
            <div class="modal-body">
              <form class="update-goal" data-id="{{goal.id}}">
              <fieldset>
                <input type='text' name='goal[description]' id ='updateDescription' placeholder='Description'>
                <input type='text' name='goal[category]' id ='updateCategory' placeholder='Category'>
                <input type='text' name='goal[status]' id ='updateStatus' placeholder='Status'>
                <input data-id="{{goal.id}}" type="submit" name="submit" value="Update List Item">
            </fieldset>
            </form>
            </div>
            <div class="modal-footer">
              <div class="passworderror"></div>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>

    {{else}}
      No description.
    {{/if}}
  </div>
{{/each}}
